$accent: hsl(186, 38%, 48%);
$darkest: hsl(188, 20%, 9%);
$dark: hsl(188, 15%, 22%);
$neutral: hsl(188, 10%, 75%);
$light: hsl(188, 25%, 94%);
$white: hsl(188, 2%, 99%);
$error: hsl(3, 42%, 52%);
$accent-alpha: rgba($accent, 0.3);
$error-alpha: rgba($error, 0.3); ;
