@import "./variables";
@import "./colors";

@mixin tile {
	padding: 20px;
	border-radius: $border-radius;
	box-shadow: $subtle-box-shadow;
	background-color: white;
}

@mixin flex($direction: row, $justify: null, $align: null) {
	display: flex;
	flex-direction: $direction;

	@if $justify != null {
		justify-content: $justify;
	}

	@if $align != null {
		align-items: $align;
	}
}

@mixin container(
	$base-width: 80%,
	$tablet-width: 100%,
	$min-width: 300px,
	$max-width: 800px
) {
	width: $tablet-width;
	min-width: $min-width;
	margin: auto;

	@media (min-width: $laptop-width) {
		max-width: $max-width;
		width: $base-width;
	}
}
