@import "./variables";
@import "./colors";

@mixin tile {
	padding: 20px;
	border-radius: $border-radius;
	box-shadow: 0px 4px 16px -8px rgb(23 29 38 / 17%);
	background-color: white;
}

@mixin flex($direction: row, $justify: null, $align: null) {
	display: flex;
	flex-direction: $direction;

	@if $justify != null {
		justify-content: $justify;
	}

	@if $align != null {
		align-items: $align;
	}
}
