$default-font-family: "PT Sans", sans-serif;
$heading-font-family: "Nunito", sans-serif;

body,
button,
a,
div,
nav,
em,
textarea {
	font-size: 1em;
	font-family: $default-font-family;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $heading-font-family;
}
