@import "../styles/mixins";
@import "../styles/colors";
@import "../styles/variables";

.student-details {
	max-width: 800px;
	margin: 0 auto;
	@media (min-width: 600px) {
		padding: 20px;
	}
	@include flex(column, center, center);

	header {
		@include flex(row, center, center);
		margin-bottom: 20px;

		.name {
			font-size: 2.1em;
			font-weight: bold;
			margin: 0;
		}

		.skill {
			color: $white;
			border-radius: $border-radius;
			padding: 10px;
			margin: 0 0 0 12px;
			font-size: 1.1em;
			font-weight: bold;
			text-align: center;
			min-width: 120px;
		}
	}

	.delete-button {
		@include slidingIconButton($error, $white, $width: 135px);
		margin-top: 20px;
	}

	.delete-dialog {
		@include tile;
		width: 100%;
		@include flex(column, center, center);
		p {
			margin: 0;
		}
		.buttons {
			margin: 15px 0 0 0;
			.yes {
				@include simpleButton($error, $white, $width: 80px, $height: 40px);
				margin-right: 7px;
			}
			.no {
				@include simpleButton($neutral, $white, $width: 80px, $height: 40px);
			}
		}
	}
}
