@import "../styles/colors";
@import "../styles/mixins";
@import "../styles/variables";

.sidebar {
	height: 100%;
	width: $sidebar-width;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: -$sidebar-width;
	background-color: $white;
	overflow-x: hidden;
	transition: 0.6s;
	padding: 60px 0px 40px 0px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	ul {
		margin: 0;
		padding: 0 20px 0 20px;
	}

	li {
		list-style-type: none;
	}

	a {
		width: 170px;
		height: 45px;
		margin-top: 10px;
		padding: 11px 6px 11px 18px;
		text-decoration: none;
		font-size: 1.1em;
		color: darken($color: $neutral, $amount: 30%);
		display: block;
		transition: 0.2s;
		background-color: transparent;
		border: none;
		border-radius: $border-radius;
		cursor: pointer;

		&:hover {
			background-color: lighten($accent, 20%);
			color: $white;
			box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
		}

		&.active {
			background-color: $accent;
			color: $white;
		}

		svg {
			width: 30px;
			margin-right: 7px;
		}
	}
}
