@import "../styles/colors";
@import "../styles/mixins";
@import "../styles/variables";

.sidebar {
	height: 100%;
	width: $sidebar-width;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: -$sidebar-width;
	background-color: $white;
	overflow-x: hidden;
	transition: 0.6s;
	padding: 60px 0px 40px 0px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	ul {
		margin: 0;
		padding: 0 20px 0 20px;
	}

	li {
		list-style-type: none;
	}

	a {
		display: flex;
		justify-content: left;
		align-items: center;
		padding-left: 18px;
		margin: 5px;
		color: $dark;
		text-decoration: none;
		font-size: 1.1em;
		font-weight: bold;
		border-radius: $border-radius;
		border: none;
		transition: all 0.2s ease-in-out;
		width: 170px;
		height: 45px;

		&:hover {
			background-color: darken($accent, 8%);
			color: $white;
			cursor: pointer;
		}

		&:active {
			background-color: darken($accent, 4%);
			transform: translateY(1.5px);
		}

		&.active {
			background-color: $accent;
			color: $white;
		}

		svg {
			width: 30px;
			margin-right: 7px;
		}
	}
}
