@import "../styles/colors";

.sidebar {
	height: 100%;
	width: 275px;
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	background-color: $white;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	display: flex;
	flex-direction: column;

	ul {
		margin: 0;
		padding: 0 20px 0 20px;
	}
	li {
		list-style-type: none;
	}

	a {
		margin-top: 10px;
		padding: 8px 8px 8px 20px;
		text-decoration: none;
		font-size: 1.3em;
		color: $muted;
		display: block;
		transition: 0.2s;
		background-color: transparent;
		border: none;
		border-radius: 13px;
		cursor: pointer;

		&:hover {
			background-color: $accent1-lighter;
			color: $white;
		}

		&.active {
			background-color: $accent1-darker;
			color: $white;
		}

		svg {
			width: 30px;
			margin-right: 10px;
		}
	}
}
