@import "./styles/colors";
@import "./styles/typography";
@import "./styles/variables";

.app {
	background-color: $light;
	color: $darkest;
	min-height: 100vh;

	.main-content {
		margin-left: $sidebar-width;
		min-height: calc(100vh - $header-height);
		overflow: hidden;
	}

	.header {
		margin-left: $sidebar-width;
	}

	.backdrop {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 1;
		transition: opacity 14s ease-in-out;
		z-index: 1;
		background-color: rgba($accent-dark, 0.5);

		&:before {
			z-index: 1;
			content: "";
			position: fixed;
			opacity: 0;
		}
	}

	@media (max-width: 1023px) {
		.main-content {
			margin-left: 0;
		}
		.header {
			margin-left: 0;
		}
	}
}
